:root {
  /* Colores base */
  --color-primario: #9f7fb3; /* Pantone 257 Color base */

  /* Fondos */
  --fondo-claro: #f5f1f7; /* Para fondos generales, casi blanco pero cálido */
  --fondo-secundario: #c6a1cf; /* Para secciones o tarjetas */
  --fondo-oscuro-suave: #2d2a2f; /* En lugar de negro puro. dark mode */

  /* Texto */
  --texto-principal: #4e4a52; /* Gris lavanda, legible */
  --texto-secundario: #6d5a7a; /* Para subtítulos, íconos, etc */
  --texto-especial: #f5f1f7; /* Para textos con fondo primario */

  /* Acentos */
  --acento-claro: #d9bfd9; /* Lila claro para botones, hover o bordes */
}

/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background-color: var(--fondo-claro);
}

/* Tipografía general */
* {
  font-family: "Inter", sans-serif;
  color: var(--texto-principal);
}

p,
label,
input,
textarea {
  font-family: "Nunito Sans", sans-serif;
  color: var(--texto-principal);
  margin-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Inter", sans-serif;
  color: var(--texto-secundario);
}

.centrar_texto {
  text-align: center;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  background-color: var(--color-primario);
}

.header_titulo {
  color: var(--texto-especial);
  font-size: 1.5rem;
  font-weight: bold;
  text-align: left;
  margin:  0;
}

header a {
  color: var(--texto-principal);
  font-size: 1.3rem;
  font-weight: bold;
  text-align: left;
  margin: 1rem 0;
}

.menu {
  list-style: none; 
  display: flex; 
  gap: 1.5rem; 
  padding: 0;
  margin: 0;
  align-items: center;
}

.menu li a {
  text-decoration: none;
  color: var(--texto-principal);
  font-size: 1rem;
  font-weight: bold;
  padding: 0.5rem 0;
}

/* Footer */
footer {
  background-color: var(--color-primario);
}

.footer_texto {
  color: var(--texto-especial);
}

footer img {
  margin: 0.5rem;
  width: 2rem;
  height: 2rem;
  object-fit: cover;
}

/* Productos */
.catalogo {
  padding: 2rem;
  text-align: center;
}

.productos_grid {
  display: grid;
   grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin-top: 2rem;
}

.producto {
  display: block;
  background-color: var(--fondo-claro);
  border: 2px solid var(--color-primario);
  border-radius: 1rem;
  padding: 1rem;
  text-decoration: none;
  color: inherit;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}


.producto img {
  width: 100%;
  height: 20rem;
  object-fit: cover;
  border-radius: 0.5rem;
  margin-top: 0.5rem;
}

.detalle-producto {
  display: flex;
  gap: 2rem;
  padding: 2rem;
  align-items: flex-start;
  flex-wrap: wrap; 
}

.producto-imagen img {
  width: 80rem;
  max-width: 400rem;
  border-radius: 1rem;
  object-fit: cover;
}

.producto-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.producto-info h1 {
  font-size: 2rem;
  margin: 0;
}

.producto-info p {
  font-size: 1.2rem;
  color: var(--texto-principal);
}

.producto-info h2 {
  color: var(--color-primario);
  font-size: 1.5rem;
  margin: 0;
}

.producto-info button {
  display: inline-block;
  width: auto;
  padding: 0.5rem 1rem;
  background-color: var(--color-primario);
  color: var(--texto-especial);
  border: none;
  border-radius: 0.5rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 1rem;
}

.producto-info button:hover {
  background-color: var(--acento-claro); 
}