:root {
  /* Colores base */
  --color-primario: #9f7fb3; /* Pantone 257 Color base */

  /* Fondos */
  --fondo-claro: #f5f1f7; /* Para fondos generales, casi blanco pero cálido */
  --fondo-secundario: #c6a1cf; /* Para secciones o tarjetas */
  --fondo-oscuro-suave: #2d2a2f; /* En lugar de negro puro. dark mode */

  /* Texto */
  --texto-principal: #4e4a52; /* Gris lavanda, legible */
  --texto-secundario: #6d5a7a; /* Para subtítulos, íconos, etc */
  --texto-especial: #f5f1f7; /* Para textos con fondo primario */

  /* Acentos */
  --acento-claro: #d9bfd9; /* Lila claro para botones, hover o bordes */
}

/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background-color: var(--fondo-claro);
}

/* Tipografía general */
* {
  font-family: "Inter", sans-serif;
  color: var(--texto-principal);
}

p,
label,
input,
textarea {
  font-family: "Nunito Sans", sans-serif;
  color: var(--texto-principal);
  margin-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Inter", sans-serif;
  color: var(--texto-secundario);
}

.centrar_texto {
  text-align: center;
}

/* Header */
header {
  background-color: var(--color-primario);
}

.header_titulo {
  color: var(--texto-especial);
  font-size: 2rem;
  font-weight: bold;
  text-align: left;
  margin: 1rem 0;
}

/* Footer */
footer {
  background-color: var(--color-primario);
}

.footer_texto {
  color: var(--texto-especial);
}

footer img {
  margin: 0.5rem;
  width: 2rem;
  height: 2rem;
  object-fit: cover;
}
